<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="axle_joint" params="suffix parent xyz rpy">
		<joint name="joint_${suffix}" type="continuous">
			<parent link="${parent}"/>
			<child link="link_${suffix}"/>
			<origin xyz="${xyz}" rpy="${rpy}"/>
			<axis xyz="0 0 1"/>
			<limit effort="1000" velocity="1000"/>
			<dynamics damping="0.0" friction="0.2"/>
		</joint>
	</xacro:macro>
</robot>
