<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find raider_3197_description)/urdf/axle_joint.xacro" />
	<xacro:include filename="$(find raider_3197_description)/urdf/suspension_joint.xacro" />

	<xacro:macro name="wheel_front_joint" params="suffix parent xyz rpy">
		<xacro:suspension_joint suffix="${suffix}_axle" parent="${parent}" xyz="${xyz}" rpy="0 0 0" />

		<link name="link_${suffix}_axle">
			<inertial>
				<mass value="0.025" />
				<inertia ixx="5.8083e-4" ixy="0" ixz="0" iyy="3.0833e-5" iyz="0" izz="5.9083e-4" />
			</inertial>
		</link>

		<xacro:axle_joint suffix="${suffix}" parent="link_${suffix}_axle" xyz="0 0 0" rpy="${rpy}" />
	</xacro:macro>
</robot>
